/* ******************INDSTILLINGER For opgave 1-20*************** */
/* ***************Det er herunder du skal rette:***************** */

/*-------------------------------boks 1--------------------------------*/

.box1 .content {
  /*Her styles teksten*/
  color: #ffffff;
  font-family: (Arial, Helvetica, sans-serif);
  font-size: 1, 6em;
  text-shadow: magenta 5px 5px 10px;
  font-size: x-large;
}

/*-------------------------------boks 2--------------------------------*/

.box2 .content {
  /*Her styles teksten*/
  font-family: "Open Sans", sans-serif;
  font-size: x-large;
  font-weight: lighter;
}

/*-------------------------------boks 3--------------------------------*/

.box3 .content {
  /*Her styles teksten*/

  color: rgb(45, 156, 5);
  font-size: x-large;
  text-shadow: rgb(154, 254, 3) 2px 2px 2px;
  text-indent: 20px;
}
.box3 .content p::first-letter {
  color: rgb(71, 95, 251);
  font-size: 3.5rem;
  font-weight: bold;
}

/*-------------------------------boks 4--------------------------------*/

.box4 .content {
  /*Her styles teksten*/
  color: red;
  font-size: 1.3rem;
  text-transform: uppercase;
}

/*-------------------------------boks 5--------------------------------*/

@font-face {
  /*Her har jeg skrevet @font-face koden for dig - i den næste opgave skal du selv skrive den*/
  font-family: minFont;
  src: url("elriolobo/elriott2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.box5 .content {
  /*Her skriver du koden og bruger fonten (minFont)*/
  font-family: minFont;
  font-size: 4rem;
  color: orange;
}

/*-------------------------------boks 6--------------------------------*/

@font-face {
  /*Minder om forrige eksempel - husk at bruge et andet navn*/
  font-family: font;
  src: url(russiano/russiano-webfont.woff2) format(woff2);
  font-size: normal;
  font-weight: normal;
}

.box6 .content {
  /*Her skriver du koden og bruger fonten (minAndenFont)*/
  font-family: font;
  font-size: 3rem;
  color: rgb(228, 40, 40);
}

/*-------------------------------boks 7--------------------------------*/
@font-face {
  /*Minder om forrige eksempel - husk at bruge et andet navn*/
  font-family: font;
  src: url() format(woff2);
  font-size: normal;
  font-weight: normal;
}
.box7 .content {
  /*Her bruger du fonten (husk at linke til google-fonten i head i din html)*/
  color: blue;
}

/*-------------------------------boks 8--------------------------------*/

.box8 .content {
  /*Her bruger du google-fonten (som du linker til i din html)*/
}

/*-------------------------------boks 9--------------------------------*/

.box9 .content {
  /*Her styles teksten*/
  background-color: rgb(215, 255, 181);
  font-size: 1.15rem;
  line-height: 30px;
}

/*-------------------------------boks 10--------------------------------*/

.box10 .content {
  /*Her styles teksten*/
  font-size: 1.2rem;
  letter-spacing: 1px;
  background-color: rgb(228, 255, 255);
}

/*-------------------------------boks 11--------------------------------*/

.box11 .content a {
  /*Her styles dit link*/
  color: orangered;
  text-decoration: double;
  font-weight: bolder;
}

/*-------------------------------boks 12--------------------------------*/

.box12 .content {
  /*Her indsættes baggrundsbillede vha. background-image og background-size */
  background-image: url(bg_images/himmel.jpeg);
  background-size: 20rem;
  /*Her styles teksten*/
  font-size: xx-large;
  font-weight: bolder;
  color: rgb(158, 10, 10);
}

/*-------------------------------boks 13--------------------------------*/

.box13 .content {
  /*Her styles teksten (størrelse og "weight")*/
  font-size: 4rem;
  font-weight: bold;
  /*Her indsættes baggrundsbillede vha. background-image og background-size */
  background-image: url(bg_images/himmel.jpeg);
  background-size: 20rem;

  /*Her indsættes baggrundsbilledet som fyld i teksten og teksten gøres transparent*/
  background-clip: text;
  color: transparent;
}

/*-------------------------------boks 14--------------------------------*/

.box14 .content {
  /*Her indsættes gradient vha. background-image*/
  background-image: linear-gradient(#ff00d9e2, #e3be6e, rgb(255, 0, 0));

  /*Her styles teksten*/
  font-size: 30px;
  font-style: oblique;
  color: white;
  text-align: end;
}

/*-------------------------------boks 15--------------------------------*/

.box15 .content {
  /*Her indsættes de to baggrunde vha. background separeret af komma - husk at den der skal ligge øverst skal stå først*/

  /* størrelse på de to baggrunde separeret af komma */

  /* skal baggrundsbilledet gentages? */

  /* Hvor skal baggrundsbilledet placeres? */

  /*Her styles teksten*/
}

/*-------------------------------boks 16--------------------------------*/

.box16 .content {
  /*Her indsættes gradient vha. background-image*/
}

/*-------------------------------boks 17--------------------------------*/

.box17 .content {
  /*Kode som flexer indholdet*/
  display: flex;
  justify-content: space-around;
  /*Kode som sætter baggrundsbillede (himmel.jpg ind)    */
}

/*Kunne gøres smartere, men så blev det lidt for besværligt for de studerende:*/

.box17 .content .kvadrat1 {
  /*Styling af de to bokse: width, height og border*/
  width: 100px;
  height: 100px;
  border: 1px dashed magenta;

  /*Indsæt selv blomsten med background-image og background-size*/

  /*Baggrundsfarve*/
}

.box17 .content .kvadrat2 {
  /*Styling af de to bokse: width, height og border*/
  width: 100px;
  height: 100px;
  border: 1px dashed magenta;

  /*Indsæt blomsten med background-image og background-size*/

  /*Baggrundsfarve*/
}

/*-------------------------------boks 18--------------------------------*/

.box18 .content {
  /*Kode som flexer indholdet*/
  display: flex;
  justify-content: center;
  /*Indsæt blåt baggrundsbillede*/
}

.box18 .content .kvadrat {
  /*Styling af boksen: width & height*/

  /*Indsæt blomsten med background-image og background-size*/

  /*Brug filter så blomsten får en sepia toning*/
}

/*-------------------------------boks 19--------------------------------*/

/*Her kan du lave din egen styling*/

/*-------------------------------boks 20--------------------------------*/

/*Her kan du lave din egen gradient*/
